
<div class="container">
	<div class="row">
		<div class="col-xs-6 text-center" class="task">
			<div class="row">
			  <!--loop over the burger object and unless = 1 (which means 0 and not devoured in this context)-->
			  {{#each burger}}
			  	{{#unless this.devoured}}
				
					<div class="col-xs-9 text-center">
						<pre>{{this.id}}. {{this.burger_name}}
						</pre>
					</div>
					
					<div class="col-xs-3 text-center">
						<form method="POST" action="/devour?_method=PUT" class="button-size">
							<button type="submit" name="burgerid" value={{this.id}} class="btn btn-danger btn-md">Devour it!</button>
						</form>
					</div>
				
				{{/unless}}
			  {{/each}}
			</div>
		</div>
		<div class="col-xs-6 text-center" class="task">
			  {{#each burger}}
			  	{{#if this.devoured}}
			  		
			  		<input class="form-control" type="text" value="{{this.id}} . {{this.burger_name}}" readonly>
				
				{{/if}}
			  {{/each}}
		</div>
	</div>
</div>
