<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/cerulean/bootstrap.min.css" rel="stylesheet" integrity="sha384-fUMURLTdEcpeYHly3PAwggI3l2UvdHNg/I+8LRph7hLDcAZm77YfDx3Tjum9d3vK" crossorigin="anonymous">
</head>
<body>
<div class="jumbotron text-center">
  <h2>Burger Trough</h2>
  <h3 >Your Fastest Route To The Emergency Room!</h3>
</div>


<div class="container">
	<div class="row">
		<div class="col-xs-offset-4 col-xs-4">
			<form method="POST" action="/add" class="button-size">
			<textarea class="form-control" rows="1" type="text" name="burger_name"></textarea>
			<button type="submit">Build it!</button>
			</form>
			<p>Write down the burger you want to build and Click the "Build it!" button.</p>
		</div>
	</div>
</div>

<div class="container">
  {{#each burger}}
		{{#unless this.devoured}}
						<p>
							<div class="col-xs-4">
							{{this.id}}. {{this.burger_name}}
							
							<form method="POST" action="/devour?_method=PUT" class="button-size">
							
							<span>
							<button type="submit" name="burgerid" value={{this.id}}>Devour #{{this.id}}</button>
							</span>

							</form>
						</div>
						</p>		
	{{else}}	
						<p>

						YOU DEVOURED - {{this.id}}. {{this.burger_name}}
						
						</p>
	{{/unless}}
  {{/each}}
</div>
