
<div class="container">
	<div class="row">
		<div class="col-xs-6 text-center" class="task">
			<div class="row">
			  {{#each burger}}
			  	{{#unless this.devoured}}
				<div class="col-xs-9 text-center">
					<pre>{{this.id}}. {{this.burger_name}}
					</pre>
				</div>
				<div class="col-xs-3 text-center">
					<form method="POST" action="/devour?_method=PUT" class="button-size">
						<button type="submit" name="burgerid" value={{this.id}} class="btn btn-danger">Devour it!</button>
					</form>
				</div>
				{{/unless}}
			  {{/each}}
			</div>
		</div>
		<div class="col-xs-6 text-center" class="task">
			  {{#each burger}}
			  	{{#if this.devoured}}
			  		<input class="form-control" type="text" placeholder="{{this.id}} . {{this.burger_name}}" readonly>
				{{/if}}
			  {{/each}}
		</div>
	</div>
</div>

<!-- <div class="container">
	<div class="row">
		<div class="col-xs-12 text-center enter_section">
			<form action="/add" method="POST">
				<input type="text" class="form-control" name="burger_name" value="" id="enter_text">
				<button type="submit" class="btn btn-primary" id="text-enter-button">Submit</button>
			</form>
			<p>Enter a burger you would like to eat!</p>
		</div>
	</div>
</div> -->