
<div class="panel panel-danger">
      <div>   
        {{#each burger}}
          <div>
            {{#unless this.devoured}}

            <div class="panel-heading">
              <h3 class="panel-title">{{this.id}}. {{this.burger_name}}</h3>
                <div class="panel-body">
                    <span><form method="POST" action="/devour?_method=PUT" class="button-size">
                    <button type="submit" name="burgerid" value={{this.id}}>Devour</button>
                    </form></span>
                </div>
            {{else}}
    
          <p>  YOU DEVOURED >> {{this.id}}.{{this.burger_name}}</p>
    
          {{/unless}}

            </div>
          

          </div>  
      </div>

</div>